html,
body {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.24;
  text-align: justify;
}

@media screen {
  body {
    width: 700px;
  }
}

ul {
  margin: 0;
  padding-inline-start: 20px;
}

.title {
  border-bottom: 2px solid black;
  font-weight: bold;
}

.block-name {
  font-size: 24px;
}

.block-title {
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-top: 16px;
}

.block-subtitle {
  font-weight: bold;
  margin-top: 8px;
}

.block-flex {
  display: flex;
  justify-content: space-between;
}

.block-flex div:last-child {
  min-width: 120px;
  text-align: right;
}
